@charset "utf-8";

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    width: 90%;
}

.item {
    width: 25%;
    height: 610px;
    padding: 10px;
    margin: 10px;
    background-color: pink;
    text-align: center;
}

.box {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.a img {
    width: 300px;
    height: 200px;
    object-fit: contain;
}

a {
    text-align: center;
    border-bottom: solid;
    margin: 0, auto;
    padding: 10px;
    border-radius: 30px;
    background-color: red;
    display: block;
    text-decoration: none;
}

p {
    text-align: center;
    margin: auto;
    width: 90%;
}